fastapi==0.95.1
SQLAlchemy==2.0.9
uvicorn==0.21.1
psycopg2-binary==2.9.6
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.27.0 # not directly required, pinned by Snyk to avoid a vulnerability
stripe==5.4.0
